meta(charset="utf-8")
meta(name="description" content="#{description}")
title= siteTitle
meta(name="viewport" content="width=device-width,initial-scale=1.0")
link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet")
link(href="css/hirelemon.css?updated=#{lastUpdated}" rel="stylesheet")

// favicons
-var faviconColor = "#e7e115"
each val in [16, 32, 57, 60, 72, 76, 96, 114, 120, 144, 152, 180, 192]
  if val == 16 || val == 32 || val == 96
    link(rel="icon", type="image/png", href="/favicon-#{val}x#{val}.png", sizes="#{val}x#{val}")
  else if val == 192
    link(rel="icon", type="image/png", href="/android-chrome-#{val}x#{val}.png", sizes="#{val}x#{val}")
  else 
    link(rel="apple-touch-icon", sizes="#{val}x#{val}", href="/apple-touch-icon-#{val}x#{val}.png")
meta(name="msapplication-TileImage", content="/mstile-144x144.png")
link(rel="manifest", href="/manifest.json")
meta(name="msapplication-TileColor", content="#{faviconColor}")
meta(name="theme-color", content="#{faviconColor}")

// Twitter
each val, index in {'card':'summary', 'creator':'@AhoyLemon', 'title':siteTitle, 'description':description, 'image':'/img/twitter-card.png', 'url':siteURL}
  meta(name="twitter:#{index}" content="#{val}")
// Facebook
each val, index in {'title':siteTitle, 'type':'website', 'url':siteURL, 'image':'/img/og-image.png', 'description':description, 'email':'lemon@hirelemon.com'}
  meta(property="og:#{index}" content="#{val}")